* {
  margin: 0;
  padding: 0;
}
.main {  
  background-image: url(assets/bg-image.jpg);
  width: 1600px;
  height: 744px;
  margin-left: 152px;
}
.reference li{
  padding-left: 100px;
  word-spacing: 0px;
  display: inline;
  position: relative;
}
.logo {
  padding-left: 778px;
  padding-top: 25px;
}