* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-image: url(assets/bg-image.jpg);
  width: 1600px;
  height: 744px;
  margin: auto;
}
.blocks {
  display: flex;
}
.reference a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}
.reference li{
  display: inline;
}
.ref_left {
  padding-top: 37px;
  width: 778px;
}
.ref_right {
  padding-top: 37px;
}
.ref_About {
  padding-left: 502px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.ref_Syllabus {
  padding-left: 81px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.logo {
  padding-top: 24px;
  width: 44px;
}
.ref_Pojects {
  padding-left: 101px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.ref_FAQ {
  padding-left: 83px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.your_life h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 63px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-top: 160px;
  color: #fff;
}
.your_life p {
  text-align: center;
  color: #fff;
  padding-top: 22px;
  font-size: 18px;
  line-height: 1.3;
  padding-bottom: 32px;
}
.btn_block_1 {
  width: 184px;
  height: 46px;
  background-color: #00afdc;
  margin-left: 707px;
  border: none;
  font-weight: bold;
  outline: none;
}
.btn_block_1:hover {
  background-color: #0e9dc0;
  cursor: pointer;
}
.btn_block_1 p {
  text-transform: uppercase;
  color: #fff;
}
.social_networks {
  padding-top: 182px;
  text-align: center;
  word-spacing: 25px;
}
.social_networks li{
  display: inline;
}
.social_networks a {
  cursor: pointer;
}
.content {
  display: flex;
}
.first_sec {
  margin-left: 152px;
  width: 1600px;
}
.rappresent h2{
  text-transform: uppercase;
  padding-top: 295px;
  padding-left: 268px;
}
.rappresent p {
  padding-left: 268px;
  padding-top: 21px;
  font-size: 14px;
  line-height: 1.5;
}
.btn_block_2 {
  width: 184px;
  height: 46px;
  background-color: #00afdc;
  margin-left: 268px;
  margin-top: 25px;
  border: none;
  font-weight: bold;
  outline: none;
}
.btn_block_2:hover {
  background-color: #0e9dc0;
  cursor: pointer;
}
.btn_block_2  {
  text-transform: uppercase;
  color: #fff;
}
.content_image_1 {
  padding-top: 119px;
  padding-left: 255px;
}
.second_section {
  background-color: #f5f6f8;
  margin-top: 130px;
  margin-left: 152px;
  width: 1600px;
}
.icon {
  padding-top: 160px;
  padding-left: 396px;
}
.our_community h3{
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 18px;
  letter-spacing: 1.7px;
  padding-left: 339px;
}
.our_community p {
  font-size: 13px;
  text-align: center;
  line-height: 1.5;
  padding-top: 11px;
  padding-left: 278px;
}
.rectangle_2 {
  padding-top: 126px;
  padding-left: 155px;
  padding-bottom: 169px;
}
.rectangle_2_1 img {
  padding-top: 26px;
  padding-left: 30px;
}
.navigation {
  display: flex;
  letter-spacing: 10px;
  font-size: 17px;
  padding-top: 80px;
  padding-left: 140px;
}
.navigation:hover {
  color: #1f53a9;
  cursor: pointer;
}
.rectangle_2_2 {
  padding-top: 126px;
  padding-left: 30px;
}