* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-image: url(assets/bg-image.jpg);
  width: 1600px;
  height: 744px;
  margin: auto;
}
.blocks {
  display: flex;
}
.reference a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}
.reference li{
  display: inline;
}
.ref_left {
  padding-top: 37px;
  width: 778px;
}
.ref_right {
  padding-top: 37px;
}
.ref_About {
  padding-left: 502px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.ref_Syllabus {
  padding-left: 81px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.logo {
  padding-top: 24px;
  width: 44px;
}
.ref_Pojects {
  padding-left: 101px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.ref_FAQ {
  padding-left: 83px;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
}
.your_life h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 63px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-top: 160px;
  color: #fff;
}
.your_life p {
  text-align: center;
  color: #fff;
  padding-top: 22px;
  font-size: 18px;
  line-height: 1.3;
  padding-bottom: 32px;
}
.get_started {
  width: 184px;
  height: 46px;
  background-color: #00afdc;
  margin-left: 707px;
  border: none;
}
.get_started p {
  text-transform: uppercase;
  color: #fff;
}